/* do zrobienia css dla tabletów i telefonów */
:root {
  --headerH: 4rem;
  --footerH: 3rem;
  --fontFooterSize: 1rem;
  --elementWidht: 90%;
  --colorforprintbtn: #ffa500;
  --colorRed: #ff0000;
  user-select: none;
}

* {
  font-family: sans-serif;
}

#darktheme-prev {
  --color1: #222222;
  --color2: #555555;
  --color3: #666666;
  --color4: #999999;
  --color5: #cccccc;
  --colorText1: #ffffff;
  --colorText2: #ffffff;
  --colorText3: #ffffff;
  --colorText4: #000000;
  --colorText5: #000000;
}

#darktheme {
  --color1: #212121;
  --color2: #303030;
  --color3: #424242;
  --color4: #555555;
  --color5: #707070;
  --colorText1: #ffffff;
  --colorText2: #ffffff;
  --colorText3: #ffffff;
  --colorText4: #ffffff;
  --colorText5: #ffffff;
}

#lighttheme {
  --color1: #e8e8e8;
  --color2: #c8c8c8;
  --color3: #a8a8a8;
  --color4: #888888;
  --color5: #686868;
  --colorText1: #000000;
  --colorText2: #000000;
  --colorText3: #ffffff;
  --colorText4: #ffffff;
  --colorText5: #ffffff;
  --colorRed: #b30000;

}

#firsttheme {
  --color1: #790647;
  --color2: #bc016b;
  --color3: #950958;
  --color4: #540030;
  --color5: #32001c;
  --colorText1: #FFF5D5;
  --colorText2: #FAFFEF;
  --colorText3: #FFFFFF;
  --colorText4: #FFFFFF;
  --colorText5: #FFFFFF;
}

.App {
  height: 100vh;
  background-color: var(--color1);
  color: var(--colorText1);
}

header,
footer {
  background-color: var(--color3);
  color: var(--colorText3);
}

header {
  height: var(--headerH);
}

footer {
  height: var(--footerH);
}

.header-Menu-box {
  margin: 1rem;
  float: left;
  height: calc(100% - 2rem);
  width: calc(100% / 2 - 2rem);
  background-color: var(--colorRed);
}



main {
  height: calc(100% - var(--footerH) - var(--headerH));
  /* background-color: black; */
  overflow: auto;
}


.element {
  width: var(--elementWidht);
  height: fit-content;
  background-color: var(--color4);
  color: var(--colorText3);
  padding: 0.5rem;
  border-radius: 2rem;
  margin: auto;
  margin-bottom: 1rem;
}

.element1 section {
  text-align: center;
}

.select {
  height: 2.5rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  padding: .5rem;
  background: var(--color2);
  color: var(--colorText2);
  text-align: center;
}

select:hover {
  transform: scale(1.03);
}


.NIP {
  width: calc(100% / 3 * 2 - 3rem);

}

.RE {
  width: calc(100% / 3 - 3rem);
}

.WSF {
  width: calc(100% - 4rem);
}

.button-box,
.button-box-down {
  width: var(--elementWidht);
  height: fit-content;
  background-color: var(--color5);
  color: var(--colorText5);
  padding: 0.5rem;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 1rem;

}

.button-box {
  position: sticky;
  margin-top: 1rem;
}



.button {
  flex: 1 1 auto;

}

.button-box-down {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.button-box button,
.button-box-down button {
  padding: .5rem;
  border-radius: .5rem;
  margin: .25rem;
}

.button-box button {
  width: calc(100% / 3 - 0.5rem);

}

.button-box-down button {
  width: calc(100% / 1 - 0.5rem);

}

.Span-Box-Button {

  text-align: center;
}

.element2 {
  height: calc(100% - 1rem);
  padding: 0.5rem;
}

.podsumowanieEle {
  width: calc(100% - 1rem);
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px
}

.PodsumowanieElement {
  padding: 0.5rem;
  border: 0.2rem solid var(--color1);
  border-radius: 1rem;

}

.PodsumowanieElement h1 {
  text-align: center;
}

.Wfull {
  width: calc(200% - 0.8rem);
}

footer div {
  display: flex;
  height: 100%;
  width: max-content;
  justify-content: center;
  align-items: center;
  font-size: var(--fontFooterSize);
}

.x {
  margin-left: 1rem;
  float: left;
}

.xx {
  margin-right: 1rem;
  float: right;
}


/* menu przyciski */
.radio-input input {
  display: none;
}

.radio-input {
  --container_width: calc(100vw - 10px / 3);
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  background-color: var(--color3);
  color: var(--colorText3);
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
}

.radio-input label span {
  font-size: 2rem;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: .15s ease;
}

.radio-input label:has(input:checked) {
  color: var(--colorText5);
  font-weight: bold;
}

.radio-input label:has(input:checked)~.selection {
  background-color: var(--color5);
  display: inline-block;
}

.radio-input label:has(input:not(:checked):hover) {
  background-color: var(--color4);
}

/* :not(:checked):hover */
.radio-input label:nth-child(1):has(input:checked)~.selection {
  transform: translateX(calc(var(--container_width) * 0/3));
}

.radio-input label:nth-child(2):has(input:checked)~.selection {
  transform: translateX(calc(var(--container_width) * 1/3));
}

.radio-input label:nth-child(3):has(input:checked)~.selection {
  transform: translateX(calc(var(--container_width) * 2/3));
}

/* Przyciski do main1  */

.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px;
  color: var(--colorText5);
  transition: all 0.5s ease-in-out;
}

.button:hover {
  box-shadow: 1px 1px 25px var(--colorButton);
  color: #fff;
  border: none;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.b1 {
  border: 2px solid #00cc00;
}

.b2 {
  border: 2px solid var(--colorRed);
}

.b3 {
  border: 2px solid #0000ff;
}

.type1::after {
  --colorButton: #00cc00;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--colorButton);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}


.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}



.type2::after {
  --colorButton: var(--colorRed);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--colorButton);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}


.type2:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}


.type3::after {
  --colorButton: #0000ff;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--colorButton);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}


.type3:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

.printbtn {
  color: var(--colorforprintbtn);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--colorforprintbtn);
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  z-index: 1;

}

.printbtn:hover {
  color: #000000;
}

.printbtn::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--colorforprintbtn);
  z-index: -1;
  transition: all 1s;
}

.printbtn:hover::before {
  width: 160%;
}

.main1,
.MainStronaGlowna,
.MainAside {
  display: flex;
  flex-direction: column;
}

.Main-Section-Box,
#StronaGlowna,
#Aside {
  flex-grow: 1;
  overflow: auto;
}

#StronaGlowna,
#Aside {
  width: 90%;
  margin-top: 1rem;
  height: 100%;
}

#Aside {
  height: 100%;
}

.element {
  overflow: auto;
  height: calc(100% - 2rem);
}

.element1 {
  border: 0.2rem solid var(--color1);
  border-radius: 1rem;
  margin-bottom: 0.2rem;
}

.Span-Box-Button {
  font-size: 1.25rem;
}

.MainStronaGlowna {
  text-transform: capitalize;
}

.MainStronaGlowna div h1 {
  font-size: 6rem;
  text-align: center;
}

.MainStronaGlowna div h2 {
  text-align: center;
  font-size: 3rem;
}

.MainStronaGlowna div h3 {
  font-size: 2rem;
  text-align: center;
}

.MainStronaGlowna div h4 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--colorRed);
  -webkit-text-stroke: 0.09rem black;
}

/* ustawienia */
.wrapper {
  --font-color-dark: var(--colorText3);
  --font-color-light: var(--colorText5);
  --bg-color: var(--color3);
  --main-color: var(--color5);
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  box-shadow: 4px 4px var(--main-color);
}

.option {
  width: calc(100% / 3 - 8.5px);
  height: calc(100% - 8px);
  position: relative;
  top: 2px;
  left: 2px;

}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;

}

.btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.span {
  color: var(--font-color-dark);

}

.input:checked+.btn {
  background-color: var(--main-color);
}

.input:not(:checked):hover+.btn {
  background-color: var(--color4);
}

.input:checked+.btn .span {
  color: var(--font-color-light);

}

.zmianaTrybu {
  width: 75%;
  margin: auto;
}

.zmianaTrybu h3 {
  text-align: center;
}

/* koniec ustawien */

/* cookie agre */
.cookie-consent {

  width: fit-content;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5rem;
}

.cookie-consent form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-consent label {
  margin-right: 10px;
}

.cookie-consent button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.cookie-consent button:hover {
  background-color: #45a049;
}

.bgcookies {
  position: absolute;
  left: 0;
  top: 0;
  /* background-color: blue; */
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.htmlforcheckbox {
  color: #000000;
}


/* koniec cookie agre */

h1.Iiobs {
  text-align: center;
  font-size: 4rem;
}

div.Iobs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}

div.Iobs ol {
  font-size: 2.5rem;
}

div.Iobs ol li span.uwaga {
  color: var(--colorRed);
}

div.Iobs ol li span.pomarancz {
  color: var(--colorforprintbtn);
}

strong.green {
  color: #00cc00;
}
strong.darkGreen
{
  color: greenyellow;
}

strong.red
{
  color: var(--colorRed);
}
strong.blue
{
  color: blue;
}

strong.orange
{
  color: #ffa500;
}

.BlMa {
  width: 80%;
  height: 50%;
  text-align: center;
  margin: auto;
}

.Red-box {
  color: var(--colorRed);
}

.element .element {
  text-align: center;
}

.element .element h1 {
  font-size: 4rem;
}

.element .element h4 {
  font-size: 2rem;
  color: var(--colorRed);
}

.cookie-consent {
  width: 80%;
}

table.tabela {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}



table.tabela tr th,
table.tabela tr td {
  border: 0.2rem solid black;
  padding: 0.4rem;
}

.PodsumowanieElement p {
  text-align: center;
  font-size: 2rem;
  color: var(--colorRed);
}

.napk {
  background-color: var(--color3);
  color: var(--colorText2);
  text-align: center;
}

div.element1:nth-child(2n) {
  background-color: var(--color3);
  color: var(--colorText3);
}

tr.przedmiotrow:nth-child(2n) {
  background-color: var(--color3);
  color: var(--colorText2);
}

#GreenInf {
  color: green;
}

#YellowInf {
  color: yellow;
}

#RedInf {
  color: var(--colorRed);
}

.XDDD {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px
}

/* Przycisk od SETLESSON */
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
}

.cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 1s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}

.przyciskSLess
{
  display: grid;
  width: 75%;
  height: 4rem;
  margin: auto;
  margin-top: 1rem;
}
/* koniec przycisku */
.DownloadButtonHowItWork
{
  display: block;
}
.LeftButton
{
  text-align: right;
}
.RightButton
{
  text-align: left;
}
.button1 {
  width: 50%;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button1:hover::before {
  transform: scaleX(1);
}

.button1-content {
  position: relative;
  z-index: 1;
}

.button1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

.ButtonToHowItWork
{
  width: 100%;
  height: 48px;
  text-align: center;
}
.DownloadButtonHowItWork
{
  width: calc(50%);
  float: left;
}
@media (max-width: 1023px) {

  .radio-input label span {
    font-size: 1.2rem;
  }

  .MainStronaGlowna div h1 {
    font-size: 2rem;
  }

  .MainStronaGlowna div h2 {
    font-size: 1.5rem;
  }

  .MainStronaGlowna div h3 {
    font-size: 1rem;
  }

  .MainStronaGlowna div h4 {
    font-size: 1.2rem;
    -webkit-text-stroke: 0rem black;
  }

  .zmianaTrybu {
    width: 90%;
    font-size: 0.75rem;
    text-align: center;
  }

  .zmianaTrybu h3 {
    font-size: 1.5rem;
  }

  .Span-Box-Button {
    font-size: 1rem;
  }

  h1.Iiobs {
    font-size: 2rem;
  }

  div.Iobs ol {
    font-size: 1.1rem;
  }

  div.Iobs {
    width: 100%;
  }

  .element .element h1 {
    font-size: 2rem;
  }

  .element .element h4 {
    font-size: 1rem;
    color: var(--colorRed);

  }

  /* 
  .x
  {
    font-size: .6rem;
  } */

  .element2 {
    height: calc(100% - 1rem);
    padding: 0.5rem;
  }

  .podsumowanieEle {
    width: calc(100% - 1rem);
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px
  }


  .PodsumowanieElement {
    padding: 0.5rem;
    border: 0.2rem solid var(--color1);
    border-radius: 1rem;
  }

  .PodsumowanieElement h1 {
    text-align: center;
  }

  .Wfull {
    width: calc(100% - 1.4rem);
  }

  .brwitmobile {
    height: 0px;
    width: 0px;
  }

  .XDDD {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px
  }

  .przyciskSLess
  {
    width: 90%;
  }

  .button1
  {
    width: 100%;
    font-size: 0.9rem;
  }
}